.alignHeader {
  display: flex;
  justify-content: center;
}

.github-logo {
  width: 25px;
  height: 25px;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.linkedin-logo {
  width: 25px;
  height: 25px;
  margin-top: 27px;
  cursor: pointer;
  margin-right: 300px;
}

.about-me {
  margin-left: 300px;
  margin-right: 70px;
}

.name {
  padding-right: 20px;
}