form {
  text-align: center;
}

.message {
  width: 600px;
  height: 200px;
}

.contact {
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-left: 550px;
  margin-right: 550px;
}