form {
  text-align: center;
}

.forms {
  font-size: 18px;
  padding: 10px 10px;
  width: 50%;
  border: none;
}

.hr-class {
  width: 50%;
}

.message {
  width: 50%;
  height: 200px;
  font-family: Roboto;
  font-size: 18px;
  border: none;
}

.contact {
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-left: 550px;
  margin-right: 550px;
}