.about {
  text-align: center;
}

.about-component {
  padding-top: 20px;
  margin-top: 10px;
  background: #E4E7E8;
  color: #000000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  font-size: 32px;
  margin: 0 10px;
  background-color: lightblue;
}

.column {
  flex: 1;
  background-color: lightpink;
}

.tech {
  text-align: center;
}

.logos {
  width: 30%;
  height: 30%;
  margin-left: 10%;
  margin-right: 10%;
}