.about {
  text-align: center;
}

.about-component {
  padding-top: 20px;
  margin-top: 10px;
  background: #E4E7E8;
  color: #000000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  font-size: 32px;
  margin: 0 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.tech {
  text-align: center;
}

.logos {
  width: 20%;
  height: 20%;
  color: white;
}

.express-logo {
  width: 50%;
  height: 10%;
  justify-content: right;
}