.about {
  text-align: center;
  font-size: 48px;
}

.about-line {
  margin-top: -3%;
  text-align: center;
}

.tech-line {
  margin-top: -3%;
  text-align: center;
}

.about-description {
  margin: 0 80px;
  font-size: 24px;
  text-align: left;
  word-wrap: normal;
}

.about-component {
  padding-top: 25px;
  margin-top: 10px;
  background: #E4E7E8; 
  color: #000000;
  margin-bottom: -35px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  font-size: 32px;
  margin: 0 10px;
}

.column {
  flex: 1;
}

.logo-row {
  display: flex;
}

.tech {
  text-align: center;
}

.logos {
  width: 20%;
  height: 20%;
  margin-left: 15%;
  margin-right: 12%;
  margin-bottom: -25px;
}

.html-caption {
  font-size: 24px;
  margin-left: 21%;
  display: inline-block;
  padding-bottom: 20px;
}

.css-caption {
  font-size: 24px;
  display: inline-block;
  margin-left: 39%;
  padding-bottom: 20px;
}

.js-caption {
  font-size: 24px;
  display: inline-block;
  margin-left: 17%;
  padding-bottom: 20px;
}

.node-caption {
  font-size: 24px;
  display: inline-block;
  margin-left: 31%;
  padding-bottom: 20px;
  text-align: center;
}

.react-caption {
  font-size: 24px;
  display: inline-block;
  margin-left: 21%;
}

.sql-caption {
  font-size: 24px;  
  display: inline-block;
  margin-left: 39%;
}

.background {
  font-size: 24px;
  text-align: center;
}

.background-line {
  margin-top: -4%;
  font-size: 18px;
  font-style: thin;
}