@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  position: static;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 1425px;
  position: static;
  justify-content: center;
}

.App {
  font-family: 'Roboto', sans-serif;
}