.fourth-project-pic {
  position: absolute;
  top: 130px;
  right: 336px;
  width: 728px;
}

.bcounter {
  position: absolute;
  top: 110px;
  right: 595px;
  width: 190px;
}

.projectComponent {
  background: #182428;
}

.projectComponent2 {
  background: #005D7E;
}
.projectComponent3 {
  background: #132C33;
}

.imac {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imac-with-project {
  position: relative;
}

.first-project-pic {
  position: absolute;
  top: 120px;
  right: 336px;
  width: 728px;
}

.fourth-project-pic:hover {
  transition: 2s;
}

.trans {
  width: 100px;
  height: 100px;
  background:red;
  transition: width 2s;
}

.trans:hover {
  width: 300px;
}