.fourth-project-pic {
  position: absolute;
  top: 10.4%;
  right: 24.6%;
  width: 725px;
  height: 410px;
}

.first-overlay {
  display: flex;
  justify-content: center;
  left: -70%;
  width: 800px;
  height: 740px;
  margin-top: 30px;
  transition: all 1000ms ease-in-out;
  position: absolute;
  background: rgba(24, 36, 40, 0.95);
  z-index: 99 !important;
  color: white;
  overflow-x: hidden;
}

.second-overlay {
  display: flex;
  justify-content: center;
  left: -70%;
  width: 800px;
  height: 740px;
  margin-top: 30px;
  transition: all 1000ms ease-in-out;
  position: absolute;
  background: rgba(0, 93, 126, 0.95);
  z-index: 99 !important;
  color: white;
  overflow-x: hidden;
}

.third-overlay {
  display: flex;
  justify-content: center;
  left: -70%;
  width: 800px;
  height: 740px;
  margin-top: 30px;
  transition: all 1000ms ease-in-out;
  position: absolute;
  background: rgba(19, 44, 51, 0.95);
  z-index: 99 !important;
  color: white;
  overflow-x: hidden;
}

.title-application {
  font-weight: bold;
  margin-top: 15%;
  font-size: 36px;
  text-align: left;
  justify-content: left;
  position: absolute;
}

.title-tech {
  font-size: 22px;
  position: absolute;
  margin-top: 25%;
  padding: 0 2rem;
}

.title-description {
  margin-top: 35%;
  padding: 0 2rem;
  font-size: 22px;
}

.bcounter {
  position: absolute;
  top: 10%;
  right: 610px;
  width: 190px;
  height: 410px;
}

.allProjectComponent {
  background: #182428;
}

.projectComponent2 {
  background: #005D7E;
}
.projectComponent3 {
  background: #132C33;
}

.imac {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

.imac-with-project {
  position: relative;
}

.first-project-pic {
  position: absolute;
  top: 10.4%;
  right: 24.6%;
  width: 725px;
  height: 410px;
}

.fourth-project-pic:hover {
  transition: 2s;
}
.projects {
  font-size: 48px;
  padding-top: 15px;
  color: #FFFFFF;
  text-align: center;
}

.projects-line {
  margin-top: -20px;
  color: #FFFFFF;
  text-align: center;
}