.fourth-project-pic {
  position: absolute;
  top: 130px;
  right: 336px;
  width: 728px;
}

.projectComponent {
  background: #182428;
}

.imac {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imac-with-project {
  position: relative;
}

.fourth-project-pic:hover {
  cursor: pointer;
  transition: 2s;
}

.trans {
  width: 100px;
  height: 100px;
  background:red;
  transition: width 2s;
}

.trans:hover {
  width: 300px;
}